<div class="row navbar-wrap bottom-shadow">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <ng-template [ngIf]="authService.isAuthenticated()">

        </ng-template>
        <nav class="navbar navbar-expand-lg navbar-light static-top">
            <a class="navbar-brand" href="#"><span class="brand">Appraisal</span> <span class="code">101</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li routerLinkActive="active" class="nav-item">
                        <a [routerLink]="[ '/logged/dashboard']" class="nav-link" href="#">
                            <i class="mdi mdi-view-dashboard-outline"></i>Dashboard
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-ited-m dolx">
                        <a [routerLink]="['/logged/manage']" class="nav-link " href="# "><i class="mdi mdi-apps "></i>Manage</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-bell-circle-outline "></i>
                            <span class="badge badge-danger badge-sm ">9</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-account-circle "></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="# "><i class="mdi mdi-settings-outline "></i>Settings</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item " (click)='logout()'><i class="mdi mdi-power "></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>