<h4 class="module_title ">
    {{moduleTitle}}</h4>
<div class="card ">
    <div class="card-header ">
        <span class="mr-auto "><i class="mdi mdi-tab "></i> {{moduleSubTitle}} </span>
    </div>
    <div class="card-body ">
        <div class="col-ld-12 ">
            <div class="d-flex justify-content-between ">
                <a href="# " class="p-2 flex-even ">
                    <i class="mdi mdi-account-group-outline tab-icon "></i>
                    <p class="tab-paragraph ">Roles</p>
                </a>
                <a href="# " class="p-2 flex-even ">
                    <i class="mdi mdi-odnoklassniki tab-icon "></i>
                    <p class="tab-paragraph ">Permissions</p>
                </a>
                <a [routerLink]="['/manage/titles']" class="p-2 flex-even ">
                    <i class="mdi mdi-format-title tab-icon "></i>
                    <p class="tab-paragraph ">Titles</p>
                </a>
                <a href="# " class="p-2 flex-even ">
                    <i class="mdi mdi-office-building tab-icon "></i>
                    <p class="tab-paragraph ">Organisation</p>
                </a>
                <a [routerLink]="[ '/manage/users'] " class="p-2 flex-even tab-active">
                    <i class="mdi mdi-account-multiple-outline tab-icon "></i>
                    <p class="tab-paragraph ">System Users</p>
                </a>
            </div>
        </div>
    </div>