<h4>System Settings</h4>
<ul class="list-group list-group-sidebar ">
    <li class="list-group-item">
        <a href="# " class="d-block " routerLinkActive="sidebar-active">
            <i class="mdi mdi-account-group-outline "></i> Roles
        </a>
    </li>
    <li class="list-group-item ">
        <a href="# " class="d-block" routerLinkActive="sidebar-active">
            <i class="mdi mdi-odnoklassniki "></i> Permissions
        </a>
    </li>
    <li class="list-group-item ">
        <a href="# " class="d-block" routerLinkActive="sidebar-active">
            <i class="mdi mdi-format-title "></i> Titles
        </a>
    </li>
    <li class="list-group-item ">
        <a [routerLink]="['/manage/users']" class="d-block" routerLinkActive="sidebar-active">
            <i class="mdi mdi-account-multiple-outline "></i> System Users
        </a>
    </li>
</ul>