<h4 class="module_title ">
    {{moduleTitle}}
</h4>
<div class="card ">
    <div class="card-header">
        <span class="float-left">
        <i class="mdi mdi-account-multiple-outline"></i> {{moduleSubTitle}}
      </span>
        <a [routerLink]="['/manage/roles/add-role/']" class="btn btn-sm btn-primary float-right" title="Add item">
            <i class="mdi mdi-pencil-plus-outline"></i> Add
        </a>
    </div>
    <div class="card-body ">
        {{role.role}} {{role.role_description}}
    </div>
</div>
